{% extends "layout.html" %}
{% block content %}
    {% for job in jobs %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href={{'https://jobs.ge/ge/?view=jobs&id='+job[0]}}>{{ job[1] }}</a></h2>
            <p class="article-content">{{ job[2] }}</p>
            <div class="article-metadata">
              <a class="mr-2" href={{'https://jobs.ge/ge/?view=jobs&id='+job[0]}}>{{ 'https://jobs.ge/ge/?view=jobs&id=' + job[0] }}</a>
            </div>
          </div>
        </article>
    {% endfor %}
{% endblock content %}