{% extends "layout.html" %}
{% block content %}
    <a href="{{ url_for('updateDB') }}"> ინფორმაციის განახლება </a>
    {% for job in jobs.items %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href={{'https://jobs.ge/ge/?view=jobs&id='+job.jobID}}>{{ job.jobName }}</a></h2>
            <p class="article-content">{{ job.jobCompanyName }}</p>
            <div class="article-metadata">
              <a class="mr-2" href={{'https://jobs.ge/ge/?view=jobs&id='+job.jobID}}>{{ 'https://jobs.ge/ge/?view=jobs&id=' + job.jobID }}</a>
            </div>
          </div>
        </article>
    {% endfor %}
    {% for page_num in jobs.iter_pages() %}
        {% if page_num %}
            {% if jobs.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('index', page=page_num) }}"> {{ page_num }} </a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('index', page=page_num) }}"> {{ page_num }} </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}